# Jupyter Notebook files
.ipynb_checkpoints/
*.ipynb_checkpoints/
*.nbconvert.ipynb

# Python files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Data and cache files
*.csv
*.json
*.pkl
*.pickle
*.db
*.sqlite3

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db
.Spotlight-V100
.Trashes

# Logs and outputs
*.log
*.out

# Environment variables
.env
.env.*

# Archives and temporary files
*.zip
*.tar.gz
*.rar
*.7z

# Backup files
*~

# MATLAB files
*.asv 
*.fig    
*.mat    
*.mex*   
*.slxc   
*.mdl    
*.slx    

# Other files
*.png
*.jpg
*.svg
*.eps
*.pdf
*.tiff
*.xlsx

# Created files
Z2_violating_valid_values.txt
symmetric_valid_values.txt
antisymmetric_valid_values.txt

physical_parameters.ipynb