# Jupyter Notebook files
.ipynb_checkpoints/
*.ipynb_checkpoints/
*.nbconvert.ipynb

# Python files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Data and cache files
*.csv
*.json
*.pkl
*.pickle
*.db
*.sqlite3

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db
.Spotlight-V100
.Trashes

# Logs and outputs
*.log
*.out

# Environment variables
.env
.env.*

# Archives and temporary files
*.zip
*.tar.gz
*.rar
*.7z

# Backup files
*~

# MATLAB files
*.asv    # Archivos de autoguardado de MATLAB
*.fig    # Archivos de figuras de MATLAB
*.mat    # Archivos de datos de MATLAB
*.mex*   # Archivos compilados de MATLAB (MEX)
*.slxc   # Archivos de caché de Simulink
*.mdl    # Archivos antiguos de Simulink
*.slx    # Archivos modernos de Simulink (si no quieres compartirlos)

# Other files
*.png
*.jpg
*.svg
*.eps
*.pdf
*.tiff
*.xlsx